Django==4.2.19
EditorConfig==0.17.0
PyYAML==6.0.2
asgiref==3.8.1
astroid==3.3.8
autopep8==2.3.2
beautifulsoup4==4.13.3
certifi==2025.1.31
channels==4.2.0
channels_redis==4.2.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cssbeautifier==1.15.3
daphne==4.1.2
dill==0.3.9
django-bootstrap-v5==1.0.11
django-htmx==1.22.0
django-prometheus==2.3.1
django-websocket-redis==0.6.0
djlint==1.36.4
dotenv==0.9.9
idna==3.10
isort==6.0.0
jsbeautifier==1.15.3
json5==0.10.0
mccabe==0.7.0
pathspec==0.12.1
platformdirs==4.3.6
psycopg2-binary==2.9.10
pycodestyle==2.12.1
pylint==3.3.4
python-dotenv==1.0.1
regex==2024.11.6
requests==2.32.3
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
tomlkit==0.13.2
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
whitenoise==6.9.0