{% load static %}
<link rel="shortcut icon"
      href="{% static 'favicon.ico' %}"
      type="image/x-icon">
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- En el head de templates/base.html -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <title>SPA with Django & htmx</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <script src="{% static 'js/htmx.min.js' %}" defer></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Cargar el Header desde un partial -->
        <div id="header-container">{% include "partials/header.html" %}</div>
        <!-- Contenido dinámico -->
        <main id="content" class="container my-4 flex-fill">
            {% block content %}
            {% endblock content %}
        </main>
        <!-- Cargar el Footer desde un partial -->
        {% include "partials/footer.html" %}
        {% block extra_scripts %}{% endblock %}
    </body>
</html>
